/*  S 样式初始化 */
body{
	font-family: 'Microsoft YaHei', sans-serif;
	margin: 0;
	-webkit-font-smoothing: antialiased;  /* 这个属性可以使页面上的字体抗锯齿 */
	color:#727272;
}
html,body,article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, ul , li , p, div, label, input,dl,dd,a,button,i , h1, h2, h3, h4{box-sizing: border-box;padding: 0;margin: 0; }

a {text-decoration: none;color:#666;}
ul, li{list-style: none;}
/* E 样式初始化 */

/* S 头部样式 */
.header{
	width: 100%;
	padding-top: 50px;
	background: url(../imgs/header_bg.png) center no-repeat;
	background-size: cover;
	margin-bottom: 10px;
}
#logo{
	font-size: 20px;
	color: #fff;
	text-align: center;
	margin-bottom: 20px;
}
#search{
	width: 86%;
	margin: 0 auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap:nowrap;
	flex-wrap:nowrap;
	opacity: 0.8;
	background: #082E6F;
	border-radius: 4px;
	padding:3px 0 ;
	margin-bottom: 60px;
}
#searchtxt{
	display: inline-flex;
	border: 0;
	-moz-box-flex:5.0; /* Firefox */
	-webkit-box-flex:5.0; /* Safari 和 Chrome */
	box-flex:5.0;
	flex-grow: 5;
	background: transparent;
	border-radius: 4px;
	font-size: 13px;
	color: #D9ECFF;
	letter-spacing: 0;
	text-indent: 12px;
	height: 28px;
	outline: 0;
}
#searchbtn{
	display: inline-flex;
	border: 0;
	-moz-box-flex:1.0; /* Firefox */
	-webkit-box-flex:1.0; /* Safari 和 Chrome */
	box-flex:1.0;
	flex-grow: 1;
	background: #026FE2;
	border-radius: 4px;
	font-size: 13px;
	color: #FFFFFF;
	letter-spacing: 0;
	height: 28px;
	outline: 0;
	justify-content: center;
	line-height: 28px;
	margin-right:4px ;
	border-radius: 4px;
}

/* E 头部样式 */


/* S 导航样式 */
.nav{
	width: 90%;
	margin: 0 auto;
}
.nav_ul{
	background: #FFFFFF;
	box-shadow: 0 4px 14px 0 rgba(227,227,227,0.50);
	border-radius: 8px;
	margin: 0 auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
	padding: 14px;
	-webkit-box-pack:justify;
  	-webkit-justify-content:space-between;
  	-ms-flex-pack:justify;
  	justify-content:space-between;
}

.nav_ul li {
	display: inline-flex;
	-moz-box-flex:1.0; /* Firefox */
	-webkit-box-flex:1.0; /* Safari 和 Chrome */
	box-flex:1.0;
	flex-grow: 1;
	width: 25%;
	padding: 8px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.nav_ul li i{
	width: 100%;
	padding: 10px;
}
.nav_ul li i img{
	width: 100%;
}
.nav_ul li span{
	font-size: 14px;
	color: #333333;
	letter-spacing: 0;
	display: inline-block;
	text-align: center;
}
/* E 导航样式 */

/* S 法律咨询样式 */
.law_info{
	width: 90%;
	min-height:60px;
	margin: 0 auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap:nowrap;
	flex-wrap:nowrap;
	-webkit-box-pack:justify;
  	-webkit-justify-content:space-between;
  	-ms-flex-pack:justify;
  	justify-content:space-between;
  	margin-bottom:10px ;
}
.law_info .law_info_logo{
	width: 60px;
	min-height: 60px;
	-moz-box-flex:1.0; /* Firefox */
	-webkit-box-flex:1.0; /* Safari 和 Chrome */
	box-flex:1.0;
	flex-grow: 1;
	padding: 11px;
	margin-right: 10px;

}
.law_info .law_info_logo img{
	width: 100%;
	min-width: 40px;
}

.law_info .law_info_ul{
	-moz-box-flex:4.0; /* Firefox */
	-webkit-box-flex:4.0; /* Safari 和 Chrome */
	box-flex:4.0;
	flex-grow: 4;
	height: 60px;
	padding: 5px 0;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.law_info .law_info_ul li{
	height: 25px;
	line-height: 25px;
	-moz-box-flex:1.0; /* Firefox */
	-webkit-box-flex:1.0; /* Safari 和 Chrome */
	box-flex:1.0;
	flex-grow: 1;
}
.law_info .law_info_ul li a{
	font-size: 13px;
	color: #999999;
	letter-spacing: 0;
	display: inline-flex;
	align-items: center;
}
/* E 法律咨询样式 */

/* S 三云样式 */
.cloudframe{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap:nowrap;
	flex-wrap:nowrap;
	-webkit-box-pack:justify;
  	-webkit-justify-content:space-between;
  	-ms-flex-pack:justify;
  	justify-content:space-between;
  	width: 100%;
  	border-top:1px solid #E8E8E8;
  	background-color: #FFFFFF;
}
.cloudframe .QAbox{
	-moz-box-flex:1.0; /* Firefox */
	-webkit-box-flex:1.0; /* Safari 和 Chrome */
	box-flex:1.0;
	flex-grow: 1;
	border-right:1px solid #E8E8E8;
	padding: 10px 8px 10px 16px;
}
.cloudframe .QAbox .QAimg_box{
	width: 100%;
	text-align: right;
	margin-top: -10px;
}
.cloudframe .QAbox .QAimg_box img{
	width: 50%;
	padding: 4px;
}
.cloudframe .cloudbox{
	-moz-box-flex:1.0; /* Firefox */
	-webkit-box-flex:1.0; /* Safari 和 Chrome */
	box-flex:1.0;
	flex-grow: 1;
	
}
.cloudframe .cloudbox .law_lib ,.cloudframe .cloudbox .law_legis{
	padding: 10px 0px 0px 10px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	
}
.cloudframe .cloudbox .law_lib {
	border-bottom: 1px solid #E8E8E8;
}
.cloudbox .law_lib .law_textbox,.cloudframe .cloudbox .law_legis .law_textbox{
	width: 60%;
}
.cloudbox .law_lib .cloudbox_img,.cloudframe .cloudbox .law_legis .cloudbox_img{
	width: 40%;
}
.cloudbox_img img{
	width: 98%;
}
.cloudframe .QAbox h2 ,.cloudframe .cloudbox h2 {
	margin-bottom: 6px;
}
.cloudframe .QAbox h2 a, .cloudframe .cloudbox h2 a{
	font-size: 18px;
	color: #333333;
	font-weight: 400;
	margin-bottom: 6px;
}
.cloudframe .QAbox .law_describe, .cloudframe .cloudbox .law_describe{
	font-size: 13px;
	color: #999;
}

/* E 三云样式 */
/* S 首页新闻样式 */
.news_class{
	border-top:14px solid #f5f5f5 ;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: nowrap;
	justify-content:space-around;
	padding-top: 16px;
	border-bottom: 1px solid #e8e8e8;
}

.news_class li{
	flex-grow: 1;
	text-align: center;
	font-size: 15px;
	color: #2C6EDC;
	letter-spacing: 0;
	height: 32px;
}

.news_list_ul li{
	border-bottom: 1px solid #E8E8E8;
	padding: 14px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
}
.news_list_ul .baseinfo{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	justify-content: space-between;
	margin-right: 10px;
	width: 68%;
	flex-grow: 2;
}

.news_list_ul .baseinfo p span{
	font-size: 14px;
	color: #999999;
	letter-spacing: 0;
}
.news_list_ul .baseinfo p .date{
	margin-right: 30px;
}

.news_list_ul .baseinfo h3 a{
	font-size: 16px;
    color: #666666;
    letter-spacing: 0;
    line-height: 20px;
    font-weight: 400;
    overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.news_list_ul li .newsimg{
	width: 32%;
	flex-grow: 1;
}
.news_list_ul li .newsimg img{
	width: 100%;
	
}
/* E 首页新闻样式 */











